/* App.css */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('assets/Darth.jpg');
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  
}

/* App.css */
/* App.css */
.parallax-container {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto; /* Change to 'auto' to enable scrolling */
  height: 100vh;
}

.parallax {
  background-image: url('assets/Darth.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 200%;
  transform: translate3d(0, 0, 0);
}

/* Hide scrollbar for webkit browsers */
.parallax-container::-webkit-scrollbar {
  width: 0; /* Remove scrollbar width */
  background: transparent; /* Make scrollbar track transparent */
}

/* Hide scrollbar for Firefox */
.parallax-container {
  scrollbar-width: none; /* Firefox */
}

/* Optional: You can style scrollbar thumb and track */
.parallax-container::-webkit-scrollbar-thumb {
  background: transparent; /* Make scrollbar thumb transparent */
}

.parallax-container::-webkit-scrollbar-track {
  background: transparent; /* Make scrollbar track transparent */
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 42px;
  color: #ffd700; /* Change title color to gold */
  text-align: center; /* Center align the title */
  text-transform: uppercase; /* Convert title text to uppercase */
  letter-spacing: 2px; /* Add letter spacing to title */
}

h2 {
  font-size: 28px;
  color: #ffd700; /* Change subtitle color to gold */
  margin-bottom: 20px; /* Add margin bottom to subtitles */
}

h3 {
  font-size: 20px;
  color: #ffd700; /* Change heading color to gold */
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.character-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
 
}

.character-link {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1); /* Change character link background color to transparent white */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Change box shadow color */
  transition: transform 0.3s ease;
}

.character-link:hover {
  transform: translateY(-5px);
}

.character-details h2 {
  font-size: 24px;
  color: #ffd700; /* Change character details heading color to gold */
  margin-bottom: 10px;
}

.character-details p {
  font-size: 16px;
  color: #fff; /* Change character details text color to white */
  margin-bottom: 5px;
}
