/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Darken the overlay */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background: rgba(255, 255, 255); /* Lighten the modal background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Add a glowing effect */
    max-width: 80%;
    color: #000;
  }
  
  .modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: #fff; /* Change the close button color to white */
    cursor: pointer;
    z-index: 999; /* Ensure the close button is above the modal content */
  }
  